@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

$color-base: #cd5ff8; 
$color-accent: #7fffd4;
$border-dark: rgba($color-base, 0.88);

.container {
    max-width: 90vw;
    height: 80vh;
    &__vertical {
        flex-direction: column;
    }
    &__horizontal {

    }
}

.home-text {
    color: $color-accent;
    font-size: 3rem;
    margin: 0;
    padding: 2vw;

    &__light {
        border: 2px solid $border-dark;
        font-weight: 100;
    }
    &__highlight {
        color: $color-base;
    }
}
